@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icons.sass"


body
    margin: 0
    font-family: "Poppins"

    header
        nav
            .navbar-brand
                font-size: 60px
                font-weight: bold

            div
                ul
                    form
                        #blanc
                            height: 20px
                            width: 20px
                            border-radius: 3px
                            border: 2px solid gray
                            background-color: white
                        #noir
                            height: 20px
                            width: 20px
                            border-radius: 3px
                            border: 2px solid gray
                            background-color: black
                        #connexion
                            border-radius: 0px